// 用于定义任务的使用的镜像

process {
    // 所有的进程默认使用这个基础镜像
    container = 'schema-bio.com/schemabio/germline:v1.0.0'

    // 针对特定标签指定特定镜像
    withLabel: 'base' {
        container = 'schema-bio.com/schemabio/germline:v1.0.0'
    }

    withLabel: 'mapping' {
        container = 'schema-bio.com/schemabio/mapping:2026Jan'
    }

    withLabel: 'parabricks' {
        container = 'schema-bio.com/schemabio/parabricks:4.7.0-1'
    }

    withLabel: 'gatk' {
        container = 'schema-bio.com/schemabio/gatk:4.6.2.1'
    }

    withLabel: 'deepvariant' {
        container = 'schema-bio.com/schemabio/deepvariant:v1.10.0'
    }

    withLabel: 'cnvkit' {
        container = 'schema-bio.com/schemabio/cnvkit:v0.9.12'
    }

    withLabel: 'expansionhunter' {
        container = 'schema-bio.com/schemabio/expansionhunter:5.0.0'
    }

    withLabel: 'tiea_wes' {
        container = 'schema-bio.com/schemabio/tiea_wes:2.0.0'
    }

    withLabel: 'whatshap' {
        container = 'schema-bio.com/schemabio/whatshap:2.0.0'
    }

}

// 必须开启 Docker 开关
docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)' // 避免权限问题
}