/*
 * 云端运行策略
 */
profiles {
    aliyun {
        process.executor = 'k8s' // 或者 'alibaba_batch'
        
        // 自动重试策略：如果 Spot 实例被抢走了，自动重试最多 3 次
        process.errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        process.maxRetries = 3
        
        // 资源标签 (用于财务核算)
        process.pod = [
            [label: 'project', value: 'schema-germline'],
            [label: 'cost-center', value: 'production']
        ]
    }
}