# ~/.config/miniwdl.cfg

[core]
# 引擎允许同时运行的最大任务数。
# 你的主流程虽然是线性的，但在某些 Scatter（并行分发）任务时，不要让它超过机器物理核数。
max_tasks = 16

[task_runtime]
# 这是最核心的配置！
# 如果你的 WDL 脚本里某个 Task 忘了写 runtime 块，miniwdl 会用这里的保底配置。
# 重点：在这里强制配置“参考基因组”的全局挂载！
defaults = {
        "docker": "germline:v1.0.0",
        "cpu": 2,
        "memory": "4G",
    }

# 默认情况下，miniwdl 运行任务的用户是当前执行命令的用户（通过 UID 映射）。
# 设置为 true 会让容器以 root 运行。一般保持默认 false 即可，除非你的镜像有严格权限问题。
as_user = true

[file_io]
# miniwdl 默认会在当前执行目录下生成类似 _LAST/ 的临时文件夹。
# 为了竞价实例的磁盘 IO 性能，建议将其强制指向你挂载的高性能数据盘（如 NVMe SSD）。
root = /mnt/data

[download_cache]
# 如果你的 WDL 中有 File ref = "https://..." 这种公网下载链接
# 开启缓存可以避免每次跑任务都重新下载。这在调试时非常有用。
# put = true
# get = true
# dir = /mnt/data/output/temp_workspace

[docker_swarm]
# miniwdl 原生其实支持 Docker Swarm 模式进行多机调度。
# 既然你是单机运行，这个模块保持默认或留空即可。