// 用于定义任务的需求资源

process {
    // 1. 默认基础配置：用于轻量级任务（如 Samtools index, 统计, 目录创建）
    cpus   = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }

    // 2. 低功耗标签：用于 FastQC, MultiQC, 简单的过滤
    withLabel: 'process_low' {
        cpus   = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }

    // 3. 中等功耗标签：最常用的配置 (针对 Fastp, BWA 比对, MarkDuplicates)
    // 在 32C/128G 下，这个配置允许你同时并行 4 个核心任务
    withLabel: 'process_medium' {
        cpus   = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
    }

    // 4. 高功耗标签：针对 BQSR 这种大文件处理或复杂的变异召回 (GATK HaplotypeCaller)
    // 这个配置确保即便任务很重，系统也不会崩溃
    withLabel: 'process_high' {
        cpus   = { 16 * task.attempt }
        memory = { 64.GB * task.attempt }
    }

    // 5. 单线程大内存标签：有些步骤不支持多线程，但非常吃内存（如 VEP 注释）
    withLabel: 'process_single_big_mem' {
        cpus   = 1
        memory = { 48.GB * task.attempt }
    }
}
