// 腾讯云实例配置
// 用户可根据实例类型修改以下参数

process {
    executor = 'local'
}

params {
    max_cpus   = 64
    max_memory = '128.GB'
    max_time   = '240.h'
}

// 腾讯云实例规格 profiles
profiles {
    SA9.8XLARGE128 {
        executor.cpus = 32
        executor.memory = '128 GB'
    }

    SA9.16XLARGE128 {
        executor.cpus = 64
        executor.memory = '128 GB'
    }
}