// 用于定义每个实例的资源规格

profiles {
    SA9.8XLARGE128 {
        executor.cpus = 32
        executor.memory = '128 GB'
        params.has_gpu  = false
    }

    SA9.16XLARGE128 {
        executor.cpus = 64
        executor.memory = '128 GB'
        params.has_gpu  = false
    }

    // GN7.2XLARGE32 {
    //     executor.cpus = 8
    //     executor.memory = '32 GB'
    //     params.has_gpu  = true
    // }

    // GN7.5XLARGE80 {
    //     executor.cpus = 20
    //     executor.memory = '80 GB'
    //     params.has_gpu  = true
    // }

    // GN7.8XLARGE128 {
    //     executor.cpus = 40
    //     executor.memory = '128 GB'
    //     params.has_gpu  = true
    // }

    // GN10Xp.2XLARGE40 {
    //     executor.cpus = 10
    //     executor.memory = '40 GB'
    //     params.has_gpu  = true
    // }
}

